{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <h1> Hello {{ app.user.username }}</h1>
        {% if isAdmin is defined and isAdmin %}
            <a href="{{ path('app_admin') }}">
                <h3> Go to Admin Dashboard </h3>
            </a>
        {% endif %}
        <h2> Your repositories</h2>
        <a href="{{ path('app_web_repo') }}">
            <h3> Create a new repository? </h3>
        </a>
        {% if repos is empty %}
            <p>You have no repositories yet. </p>
        {% endif %}
        
        <ul>
            {% for repo in repos %}
                <li>
                    <a href="{{ path('app_repo_display', { 'username': app.user.username, 'repo_name': repo.name }) }}">
                        <strong>{{ repo.name }}</strong>
                    
                </li>
            {% endfor %}
        </ul>
        <div style="position: absolute; bottom: 2.5vh; right: 0; margin: 20px; background-color: #ff0000; color: white; padding: 10px; border-radius: 5em;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <a href="{{ path('app_logout') }}" style="color: white; text-decoration: none;">Log out</a>
            </div>
            
        </div>
    {% else %}
        <h1> Hello Guest</h1>
        <a href="{{ path('app_login') }}">
            <h2> Please login to see or create repositories</h2>
        </a>
    {% endif %}
</div>
{% endblock %}
